body {
  background-image: url(/bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* background-color: rgba(24, 36, 51, 0.35); 
*/
.card {
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(15px);
  overflow: hidden;
}

.mobile-carousel {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.carousel-track {
  display: flex;
  scroll-snap-type: x mandatory;
}

.carousel-slide {
  min-width: 100%;
  scroll-snap-align: start;
  padding: 0 0.75rem;
}
