name: Backend

on:
  push:
    paths:
      - "backend/**"
      - ".github/workflows/backend.yml"
  pull_request:
    paths:
      - "backend/**"
      - ".github/workflows/backend.yml"

concurrency:
  group: backend-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

defaults:
  run:
    working-directory: ./backend

jobs:
  test_job:
    name: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: backend/go.mod
          cache-dependency-path: |
            backend/go.sum
      - name: test
        run: make test

  vuln_job:
    name: vuln
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: backend/go.mod
          cache-dependency-path: |
            backend/go.sum
      - name: vuln
        run: make vuln

  lint_job:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: backend/go.mod
          cache-dependency-path: |
            backend/go.sum
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v7
        with:
          version: v2.9.0
          working-directory: ./backend
