name: Backend

on:
  push:
    paths:
      - "backend/**"
      - ".github/workflows/backend.yml"
  pull_request:
    paths:
      - "backend/**"
      - ".github/workflows/backend.yml"

permissions:
  contents: read

defaults:
  run:
    working-directory: ./backend

jobs:
  test_job:
    name: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: 1.25
          cache-dependency-path: |
            backend/go.sum
      - name: test
        run: make test

  vuln_job:
    name: vuln
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: 1.25
          cache-dependency-path: |
            backend/go.sum
      - name: vuln
        run: make vuln

  lint_job:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: 1.25
          cache-dependency-path: |
            backend/go.sum
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v7
        with:
          version: v2.6.2
          working-directory: ./backend
