name: Frontend

on:
  push:
    paths:
      - "frontend/**"
      - ".github/workflows/frontend.yml"
  pull_request:
    paths:
      - "frontend/**"
      - ".github/workflows/frontend.yml"

concurrency:
  group: frontend-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

defaults:
  run:
    working-directory: ./frontend

jobs:
  ci_job:
    name: ci
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10
          run_install: false
      - name: Use Node.js 23.9.0
        uses: actions/setup-node@v6
        with:
          node-version: 23.9.0
          cache: "pnpm"
          cache-dependency-path: |
            frontend/pnpm-lock.yaml
      - run: pnpm install --frozen-lockfile
      - run: pnpm run ci
